<%- include("../partials/header") %>

<div class="container">
    <h1 style="text-align: center">Create a New Comments to <%= campground.name%></h1>
    
    <div class="container" style="width:30%; min-width: 300px; margiin:25px auto;">
        <form action="/campgrounds/<%= campground._id%>/comments" method="POST">

        <div class="form-group">
            <input class="form-control" type="text" name="comment[text]" placeholder="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Submit!</button>
        </div>
        
        </form>
        
        <a href="/campgrounds">Go Back</a>
    </div>
    
</div>

<%- include("../partials/footer") %>